.avatar {
    background: linear-gradient(141.39deg, #73C9AB 15.97%, #29FA76 81.86%);
    border-radius: 50%;
    border: 0.0625em solid #fff;
    color: #fff;
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}