<div class="post">
    <div class="post-top flex flex-spb mY10">
        <div class="flex">
            <app-avatar [name]="post.author"></app-avatar>
            <div>
                <h3>{{post.author}}</h3>
                <span>{{post.date.toLocaleDateString('ru-RU')}}</span>
            </div>
        </div>
    </div>
    <a *ngIf="post.id" [routerLink]="[post.author, 'post', post.id]" class="mY10 d-block">
        <div class="post-image-wrapper">
            <img [src]="post.img" [alt]="post.title">
        </div>
        <h3 class="post-title">{{post.title}}</h3>
    </a>
    <div *ngIf="!post.id" class="mY10">
        <div class="post-image-wrapper">
            <img [src]="post.img" [alt]="post.title">
        </div>
        <h3 class="post-title">{{post.title}}</h3>
    </div>
    <div class="flex flex-spb">
        <div class="flex">
            <div *ngFor="let _ of [].constructor(post.rating); let i = index">
                <app-icon icon="filled_star"></app-icon>
            </div>
            <div *ngFor="let _ of [].constructor(5 - post.rating); let i = index">
                <app-icon icon="star"></app-icon>
            </div>
        </div>
        <div class="flex g5">
            <div>{{post.comments.length}}</div>
            <app-icon icon="comment"></app-icon>
        </div>
    </div>
</div>