.avatar-wrapper {
    position: relative;
    top: -40px;
}

.top-cover {
    width: 100%;
    object-fit: cover;
    height: clamp(100px, 20vh, 300px);
    border-radius: 5px;
    object-fit: cover;
}

.index-page {
    &-main {
        width: calc(100% - 250px);
    }
    &-ingredients {
        padding: 0.5rem;
        min-height: calc(100vh - clamp(100px, 20vh, 300px));
        h2 {
            margin-bottom: 1rem;
        }
        &-wrapper {
            height: calc(100vh - 1rem);
            width: 250px;
            position: sticky;
            right: 0;
            top: 0.5rem;
        }
        .button-ingredients {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0;
            background-color: #F9F9F9;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s ease;
            position: fixed;
            bottom: 0.5rem;
            right: 1rem;
            width: calc(250px - 1rem);
            &:hover {
                background-color: #efefef;
            }
        }
    }
    &-top {
        padding: 0;
    }
}

.placeholder {
    height: 200vh;
}