<img [src]="'/assets/covers/' + user.cover_img + '.jpg'" alt="Cover" class="top-cover">
<div class="index-page-wrapper flex-start">
    <div class="index-page-main">
        <div class="index-page-top flex-start g20">
            <div class="avatar-wrapper">
                <app-avatar width="12.5" fz="5" ></app-avatar>
            </div>
            <index-page-form></index-page-form>
        </div>
        <div>
            <h2>Your posts</h2>
            <div class="posts-wrapper">
                <div *ngIf="posts.status === 'SUCCESS'" class="flex flex-start g10 posts">
                    <app-post [post]="post" *ngFor="let post of posts.postCards"></app-post>
                </div>
                <div *ngIf="posts.status === 'PENDING'" class="flex flex-start g10 posts">
                    <app-post-loader *ngFor="let _ of [].constructor(4); let i = index"></app-post-loader>
                </div>
            </div>
        </div>
    </div>
    <div class="index-page-ingredients-wrapper">
        <div class="index-page-ingredients">
            <h2>Do you still have these products?</h2>
            <app-product [product]="product" *ngFor="let product of products" ></app-product>
            <a class="button-ingredients" routerLink="/explore">
                <h3>All my ingredients</h3>
                <app-icon icon="arrow_right_circle"></app-icon>
            </a>
        </div>
    </div>
</div>