.sidebar-item {
    path {
        transition: 0.2s ease;
    }
    &.active, &:hover {
        path {
            stroke: #fff;
        }
    }
}

.product {
    path, rect {
        transition: 0.2s ease;
    }
    .check {
        cursor: pointer;
        .icon:hover {
            path {
                stroke: #fff;
            }
            rect {
                fill: #1D976C;
            }
        }       
    }
    .minus {
        cursor: pointer;
        .icon:hover {
            path {
                stroke: #fff;
            }
            rect {
                fill: #FF4242;
            }
        }       
    }
}